:root {

    /* The main background of the website */
    --bg: #F6F3EF;

    /* Background for cards, modals, book tiles, forms, etc. */
    --surface: #FFFFFF;

    /* Background color of the navigation bar */
    --header: #2F4858;

    /* Background color of the footer */
    --footer: #2F4858;

    /* Color of all headings (H1, H2, H3...) */
    --heading: #6C5F73;

    /* Normal paragraph text */
    --text: #3F434A;

    /* Less important text like dates, subtitles, placeholders */
    --muted: #6E7077;

    /* Main brand color.
       Used for buttons, links, active nav items, badges, etc. */
    --primary: #886B79;

    /* Same button when hovered */
    --primary-hover: #9D7B7B;

    /* Secondary highlight color.
       Icons, decorations, small labels, accents, quotes, etc. */
    --accent: #AB8E80;

    /* Borders around cards, inputs, tables, sections */
    --border: #E6E0DA;
}

* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    gap: 0.75rem;
    padding: 1rem 0.75rem;
}

.nav-left img {
    height: 32px;
    width: 32px;
}

.nav-left h1 {
    margin: 0;
}

.nav-right {
    display: flex;
    gap: 2rem;
    padding: 1rem 2.5rem;
}

body {
    margin: 0;
    background-color: var(--bg);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin: 0;
}

.hero-left,
.hero-right {
    flex: 1;
    min-width: 0;
}

.hero-left {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
}

.hero-left h1 {
    font-size: clamp(3.5rem, 8vw, 6.5rem);
    font-weight: 1000;
    margin: 0;
}

.hero-button {
    align-self: flex-end;
    margin: 0;
}

.hero-right {
    padding-right: 2rem;
    padding-top: 2rem;
}

.hero-right img {
    width: min(600px, 100%);
    height: auto;
}

.forrers {
    margin: 0 10% auto;
    background-color: #decfbb;

    display: flex;
    justify-content: space-evenly;
    gap: 30px;

    padding: 30px;

    align-items: stretch;

    border-radius: 8px;
}

.for-readers, .for-writers {
    padding: 20px 40px;
    background-color: #F6F3EF;

    border-radius: 24px;

    flex: 1;
}

footer {
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 10px;

    background-color: var(--footer);
}

.footer-left {
    display: flex;
    gap: 0.75rem;
}

.footer-right {
    align-items: center;
    display: flex;
    padding-right: 10px;
}
