
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 10px;
}