h1, h2, h3 {
    color: var(--text-primary);
}

p {
    color: var(--text-secondary);
}

.bg-button {
    background: var(--accent);
    padding: 10px 20px;

    font-weight: 600;
}

.nobg-button {
    background: rgba(0, 0, 0, 0);
    padding: 10px 20px;

    font-weight: 600;
}

.hero-button {
    background: var(--accent);
    padding: 10px 20px;

    font-size: 25px;
    font-weight: 600;
}

hr {
  width: 90%;
  height: 2px;
  background-color: black;
  border: none;
  margin: 0 auto;
}
